<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
#divareacurso {
display: block;
max-width: 944px;
max-height: 472px;
margin: auto;
}

</style>
<div id="div_area_vs_course" class="col-md-12">
	<form method="POST" id="myform" action="" enctype = "multipart/form-data" onchange="handleAreaCourse">
	{% csrf_token %}
	<label for="course">Escolha o curso:</label>
	<select name="course" id="course"></select>
	<br>
	<label for="qtyareacourse">Escolha o numero de elementos máximo:</label>
	  <select name="qtyareacourse" id="qtyareacourse">
		<option value="5">5</option>
		<option value="10" selected>10</option>
		<option value="15">15</option>
		<option value="20">20</option>
	  </select>
	</form>
	<div id="divareacurso">
		<canvas id="areaXcurso"></canvas>
	</div>
</div>

<!-- Funções jQuery de atualização e afins -->
<script>
const handleAreaCourse = function(e) {
   var formData = $('#myform').serialize()
   e.preventDefault(); // avoid to execute the actual submit of the form.
   $.ajax({
        url: "/update_graph/",
        data: formData + "&graph_name=areaXcurso",
        cache: false,
        dataType: 'json',
        type: 'POST',
        success: function (data, status) {
        		areaCourse = data.areaXcurso
				updateGraphAreaCourse(areaCourse)
				select = document.getElementById("course")
				select.value = areaCourse["Course"];
				document.getElementById("qtyareacourse").value = areaCourse["Total"];
        }
    });
}

var select = document.getElementById('myform');
select.addEventListener('change', handleAreaCourse);

</script>

<!-- Método que realiza a atualização do gráfico -->
<script>
function updateGraphAreaCourse(object_all){
	if (Object.keys(object_all).length == 0)
	{
		chartAreaCourse.destroy();
		document.getElementById("div_area_vs_course").innerHTML += "Sem informações suficientes para gerar os gráficos!";
    }
    else
    {
	var colorArray = ['blue'];

	chartAreaCourse.data.labels = object_all["Labels"]
	chartAreaCourse.data.datasets[0].label = object_all["Course"]
	chartAreaCourse.data.datasets[0].backgroundColor = colorArray[0]
	chartAreaCourse.data.datasets[0].data = object_all["Data"]
	chartAreaCourse.options.title.text = 'Area X Curso de ' + object_all["Course"]
	chartAreaCourse.update();
	}
}
</script>

<!-- Função que cria o gráfico inicialmente -->
<script>
function createGraphAreaCourse(object_all)
{
var colorArray = ['blue'];

chartAreaCourse = new Chart(document.getElementById("areaXcurso"), {
type: 'bar',
data: {
  labels: object_all["Labels"],
  datasets: [{
	label : object_all["Course"],
	backgroundColor: colorArray[0],
	data: object_all["Data"]
}]
},
options: {
  title: {
	display: true,
	text: 'Area X Curso de ' + object_all["Course"]
  }
}
});
}
</script>

<!-- Função do método init -->
<script>
function initAreaCourse(object_all) {

if (Object.keys(object_all).length == 0)
{
    document.getElementById("div_area_vs_course").innerHTML = "Sem informações suficientes para gerar os gráficos!";
}
else
{
document.getElementById("qtyareacourse").value = object_all["Total"];

select = document.getElementById("course")

all_courses = object_all["Courses"];

for (const course of all_courses)
{
	var option = document.createElement("option");
	option.value = course;
	option.text = course.charAt(0).toUpperCase() + course.slice(1);
	select.appendChild(option);
}
select.value = object_all["Course"];

createGraphAreaCourse(object_all)
}
}
</script>

<!-- Execucao inicial do método init -->
<script>
    var chartAreaCourse;
    var areaCourse = {{ areaXcurso | safe }}
    initAreaCourse(areaCourse);
</script>