
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
#divuniempresa {
display: block;
max-width: 944px;
max-height: 472px;
margin: auto;
}

</style>
<div id="div_uni_vs_com" class="col-md-12">
  <form method="POST" id="myform2" action="" enctype = "multipart/form-data" onchange="handleUniCompany">
  {% csrf_token %}
  <label for="qtyuniversitycompany">Escolha o numero de elementos máximo:</label>
  <select name="qtyuniversitycompany" id="qtyuniversitycompany">
    <option value="5">5</option>
    <option value="10" selected>10</option>
    <option value="15">15</option>
    <option value="20">20</option>
  </select>
  <br>
  <label for="universityorcompany">Por:</label>
  <select name="universityorcompany" id="universityorcompany">
    <option value="Empresas" selected>Empresas</option>
    <option value="Universidades">Universidades</option>
  </select>
  <label for="valueuniversityorcompany">Visualizar:</label>
  <select name="valueuniversityorcompany" id="valueuniversityorcompany"></select>
  </form>
  <div id="divuniempresa">
  <canvas id="universidadeXempresa"></canvas>
  </div>
</div>

<!-- Funções jQuery de atualização e afins -->
<script>
const handleUniCompany = function(e) {
   var formData = $('#myform2').serialize()
   e.preventDefault(); // avoid to execute the actual submit of the form.
   $.ajax({
        url: "/update_graph/",
        data: formData + "&graph_name=universidadeXempresa",
        cache: false,
        dataType: 'json',
        type: 'POST',
        success: function (data, status) {
        		uniCompany = data.universidadeXempresa
				updateGraphUniCompany(uniCompany)
				document.getElementById("qtyuniversitycompany").value = uniCompany["Total"];
                select = document.getElementById("valueuniversityorcompany")

                if (uniCompany["ChoosedEntity"] != uniCompany["LastChoosedEntity"])
                {
                  $("#valueuniversityorcompany").empty();
                  all_values = uniCompany["AllValues"];

                  for (const value of all_values)
                  {
                      var option = document.createElement("option");
                      option.value = value;
                      option.text = value.charAt(0).toUpperCase() + value.slice(1);
                      select.appendChild(option);
                  }
                  document.getElementById("universityorcompany").value = uniCompany["ChoosedEntity"];
                }
                select.value = uniCompany["ChoosedValue"];
        }
    });
}

var select = document.getElementById('myform2');
select.addEventListener('change', handleUniCompany);

</script>

<!-- Método que realiza a atualização do gráfico -->
<script>
function updateGraphUniCompany(object_all){
	if (Object.keys(object_all).length == 0)
	{
		chartUniCompany.destroy();
		document.getElementById("div_uni_vs_com").innerHTML += "Sem informações suficientes para gerar os gráficos!";
    }
    else
    {
	var colorArray = ['blue'];

	chartUniCompany.data.labels = object_all["Labels"]
	chartUniCompany.data.datasets[0].label = object_all["Label"]
	chartUniCompany.data.datasets[0].backgroundColor = colorArray[0]
	chartUniCompany.data.datasets[0].data = object_all["Data"]
	chartUniCompany.update();
	}
}
</script>

<!-- Função que cria o gráfico inicialmente -->
<script>
function createGraphUniCompany(object_all)
{
var colorArray = ['blue'];

chartUniCompany = new Chart(document.getElementById("universidadeXempresa"), {
  type: 'bar',
  data: {
    labels: object_all["Labels"],
    datasets: [{
      label : object_all["Label"],
      backgroundColor: colorArray[0],
      data: object_all["Data"]
    }]
  },
  options: {
  plugins: {
    title: {
      display: true,
      text: 'Universidade X Empresa'
    },
   },
    responsive: true
  }
  });

}
</script>

<!-- Função do método init -->
<script>
function initUniCompany(object_all) {

if (Object.keys(object_all).length == 0)
{
    document.getElementById("div_uni_vs_com").innerHTML = "Sem informações suficientes para gerar os gráficos!";
}
else
{
document.getElementById("qtyuniversitycompany").value = object_all["Total"];

document.getElementById("universityorcompany").value = object_all["ChoosedEntity"];

select = document.getElementById("valueuniversityorcompany")

all_values = object_all["AllValues"];

for (const value of all_values)
{
	var option = document.createElement("option");
	option.value = value;
	option.text = value.charAt(0).toUpperCase() + value.slice(1);
	select.appendChild(option);
}
select.value = object_all["ChoosedValue"];

createGraphUniCompany(object_all)
}
}
</script>

<!-- Execucao inicial do método init -->
<script>
    var chartUniCompany;
    var uniCompany = {{ universidadeXempresa | safe }}
    initUniCompany(uniCompany);
</script>