
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"></script>

<style>
#divclasslabormarket {
display: block;
max-width: 944px;
max-height: 472px;
margin: auto;
}

</style>

<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

<div id="div_gender_vs_labor_market" class="col-md-12">
	<form id="myform" action="" onchange="handlerClassLaborMarket">
	{% csrf_token %}
	<label for="statesUniClassXLaborMarket">Escolha a UF da universidade:</label>
	<input id="statesUniClassXLaborMarket">
	<br>
	<label for="universityClassXLaborMarket">Escolha a universidade:</label>
	<input id="universityClassXLaborMarket">
	<br>
	<label for="courseClassXLaborMarket">Escolha o curso:</label>
	<input id="courseClassXLaborMarket">
	<br>
	<label for="statesClassXLaborMarket">Escolha a UF da empresa:</label>
	<input id="statesClassXLaborMarket">
	<br>
	<label for="companyClassXLaborMarket">Escolha a empresa:</label>
	<input id="companyClassXLaborMarket" style="width:100%;">
	<br>
	<label for="areaClassXLaborMarket">Escolha a area:</label>
	<input id="areaClassXLaborMarket" style="width:50%;">
	</form>
	<div class="alert" id="error-message" style="display:none;">
	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
	<strong>O campo deve conter pelo menos 1 valor!</strong>
	</div>
	<div id="divclasslabormarket">
		<div id="no-data-class-vs-labor-market">
        	<h2>Informação insuficiente para gerar o gráfico</h2>
    	</div>
		<canvas id="classeXmercadodetrabalho"></canvas>
	</div>
</div>

<!-- Create Request based on the parameters -->
<script>
	function getValuesfromField(divField)
    {
        var value = $(divField).select2('data');
        all_texts = [];
        for(var i = 0; i < value.length; i++)
        {
            text = value[i].text;
            all_texts.push(text);
        }
        return JSON.stringify(all_texts);
    }
	function changeValuesinRequestClassLaborMarket(request)
	{
		var final_request = {};
		$.each($('#myform').serializeArray(), function(_, kv) {
		  final_request[kv.name] = kv.value;
		});

		final_request["companyClassXLaborMarket"] = getValuesfromField("#companyClassXLaborMarket")
		final_request["statesClassXLaborMarket"] = getValuesfromField("#statesClassXLaborMarket")
		final_request["areaClassXLaborMarket"] = getValuesfromField("#areaClassXLaborMarket")
		final_request["courseClassXLaborMarket"] = getValuesfromField("#courseClassXLaborMarket")
		final_request["statesUniClassXLaborMarket"] = getValuesfromField("#statesUniClassXLaborMarket")
		final_request["universityClassXLaborMarket"] = getValuesfromField("#universityClassXLaborMarket")

		final_request["graph_name"] = "classeXmercadodetrabalho"
		return final_request
	}

</script>

<!-- Funções jQuery de atualização e afins -->
<script>
const tryRemoveValue = function(e)
{
var list_values = $(this).val().split(',')
 if(list_values.length === 1) {
   $('#error-message').show();
    $('#error-message').fadeIn();
    e.preventDefault();
        }
}

const handlerClassLaborMarket = function(e) {
   var formData = $('#myform').serializeArray()
   formData = changeValuesinRequestClassLaborMarket(formData)
   e.preventDefault(); // avoid to execute the actual submit of the form.
   $.ajax({
        url: "/update_graph/",
        data: formData,
        dataType: 'json',
        type: 'POST',
        success: function (data, status) {
				oldStateValue = classLaborMarket["State"]
        		classLaborMarket = data.classeXmercadodetrabalho
				updateGraphClassLaborMarket(classLaborMarket)

				initValuesClassLaborMarket("Areas", "Area", "#areaClassXLaborMarket")

				initValuesClassLaborMarket("CompanyStates", "CompanyState", "#statesClassXLaborMarket")

				initValuesClassLaborMarket("Companies", "Company", "#companyClassXLaborMarket")

				initValuesClassLaborMarket("UniversityStates", "UniversityState", "#universityClassXLaborMarket")

				initValuesClassLaborMarket("Universities", "University", "#universityClassXLaborMarket")

				initValuesClassLaborMarket("Courses", "Course", "#courseClassXLaborMarket")
        }
    });
}

$('#companyClassXLaborMarket').on('change', handlerClassLaborMarket)
$('#statesClassXLaborMarket').on('change', handlerClassLaborMarket)
$('#areaClassXLaborMarket').on('change', handlerClassLaborMarket)
$('#courseClassXLaborMarket').on('change', handlerClassLaborMarket)
$('#statesUniClassXLaborMarket').on('change', handlerClassLaborMarket)
$('#universityClassXLaborMarket').on('change', handlerClassLaborMarket)

$('#companyClassXLaborMarket').on('select2-removing', tryRemoveValue)
$('#statesClassXLaborMarket').on('select2-removing', tryRemoveValue)
$('#areaClassXLaborMarket').on('select2-removing', tryRemoveValue)
$('#courseClassXLaborMarket').on('select2-removing', tryRemoveValue)
$('#statesUniClassXLaborMarket').on('select2-removing', tryRemoveValue)
$('#universityClassXLaborMarket').on('select2-removing', tryRemoveValue)

</script>

<!-- Método que realiza a atualização do gráfico -->
<script>
function updateGraphClassLaborMarket(object_all){
	if (Object.keys(object_all).length == 0 || Object.keys(object_all["Data"]).length == 0)
	{
		document.getElementById('no-data-class-vs-labor-market').style.display = 'block';
        document.getElementById('classeXmercadodetrabalho').style.display = 'none'
	}
	else
	{
	document.getElementById('no-data-class-vs-labor-market').style.display = 'none';
	document.getElementById('classeXmercadodetrabalho').style.display = 'block'

	var colorArray = ["green", "blue", "black", "red" , "purple"]
	chartClassLaborMarket.data.labels = object_all["Labels"]
	chartClassLaborMarket.data.datasets[0].label = object_all["Area"]
	chartClassLaborMarket.data.datasets[0].backgroundColor = colorArray
	chartClassLaborMarket.data.datasets[0].data = object_all["Data"]
	chartClassLaborMarket.options.title.text = 'Genero X Area de ' + object_all["Area"]
	chartClassLaborMarket.update();
	}
}


</script>

<!-- Função que cria o gráfico inicialmente -->
<script>
function createGraphClassLaborMarket(object_all)
{
	var colorArray = ["green", "blue", "black", "red" , "purple"]

	chartClassLaborMarket = new Chart(document.getElementById("classeXmercadodetrabalho"), {
	type: 'pie',
	data: {
	  labels: object_all["Labels"],
	  datasets: [{
		label : object_all["Area"],
		backgroundColor: colorArray,
		data: object_all["Data"]
	}]
	},
	options: {
	  title: {
		display: true,
		text: 'Genero X Area de ' + object_all["Area"]
	  },
	  plugins: {
		datalabels: {
		formatter: (value, ctx) => {
		  let sum = 0;
		  let dataArr = ctx.chart.data.datasets[0].data;
		  dataArr.map(data => {
			  sum += data;
		  });
		  let percentage = (value*100 / sum).toFixed(2)+"%";
		  return percentage;


		},
		color: '#fff',
		}
	}
	},
	});
}

</script>

<!-- Função do método init -->
<script>
function initClassLaborMarket(object_all) {

	if (Object.keys(object_all).length == 0)
	{
		document.getElementById("div_gender_vs_labor_market").innerHTML = "Sem informações suficientes para gerar os gráficos!";
	}
	else
	{
	if (Object.keys(object_all["Data"]).length == 0)
	{
		document.getElementById('no-data-class-vs-labor-market').style.display = 'block';
        document.getElementById('classeXmercadodetrabalho').style.display = 'none'
	}
	initValuesClassLaborMarket("Companies", "Company", "#companyClassXLaborMarket")
	initValuesClassLaborMarket("Areas", "Area", "#areaClassXLaborMarket")
	initValuesClassLaborMarket("CompanyStates", "CompanyState", "#statesClassXLaborMarket")
	initValuesClassLaborMarket("UniversityStates", "UniversityState", "#statesUniClassXLaborMarket")
	initValuesClassLaborMarket("Universities", "University", "#universityClassXLaborMarket")
	initValuesClassLaborMarket("Courses", "Course", "#courseClassXLaborMarket")

	createGraphClassLaborMarket(object_all)
	}
}

</script>

<script>

function initValuesClassLaborMarket(all_fields, field, divNameWithTag) {
	var testData = [];
	createSelect = false
	testData.push(
		{
		id : 0,
		text: "Todos"
		});
	// Instead of doing this use the AJAX call to poulate the data.
	for (var i=0; i < classLaborMarket[all_fields]["Item"].length; i++) {
		testData.push(
		{
		id : i+1,
		text: classLaborMarket[all_fields]["Item"][i]
		});
	}


	if (classLaborMarket[all_fields]["SameState"] == "False")
    {
		$(divNameWithTag).select2({
		  data: testData,
		  multiple: true,
		  closeOnSelect: false,
          allowClear: true,
		  query: function(q) {
		  var pageSize,
			results,
			that = this;
		  pageSize = 20; // or whatever pagesize
		  results = [];
		  if (q.term && q.term !== '') {
			// HEADS UP; for the _.filter function i use underscore (actually lo-dash) here
			results = _.filter(that.data, function(e) {
			  return e.text.toUpperCase().indexOf(q.term.toUpperCase()) >= 0;
			});
		  } else if (q.term === '') {
			results = that.data;
		  }
		  q.callback({
			results: results.slice((q.page - 1) * pageSize, q.page * pageSize),
			more: results.length >= q.page * pageSize,
		  });
		}
		})

		var data = getMultipleValues(testData, classLaborMarket[field])

        $(divNameWithTag).select2("data", data);
	}
}

function getMultipleValues(testData, field)
{
    all_values = []

    for(var i = 0; i < field.length; i++)
    {
        var data = testData.find(o => o.text === field[i])
        if (data != undefined)
        {
            all_values.push(data)
        }
    }
    return all_values
}
</script>

<!-- Execucao inicial do método init -->
<script>
	document.getElementById('no-data-class-vs-labor-market').style.display = 'none';
	var chartClassLaborMarket;
	var classLaborMarket = {{ classeXmercadodetrabalho | safe }}
	initClassLaborMarket(classLaborMarket);
</script>
