
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

<style>
#divgenerocurso {
display: block;
max-width: 944px;
max-height: 472px;
margin: auto;
}

</style>

<div id="div_gen_course" class="col-md-12">
	<form id="myform" action="" onchange="handlerGenderCourse">
	{% csrf_token %}
	<label for="course">Escolha o curso:</label>
	<select name="course" id="course" ></select>
	<br>
	<label for="statesGenderCourse">Escolha a UF da universidade:</label>
	<select name="statesGenderCourse" id="statesGenderCourse" ></select>
	<label for="university">Escolha a universidade:</label>
	<select name="university" id="university" ></select>
	</form>
	<div id="divgenerocurso">
		<canvas id="generoXcurso"></canvas>
	</div>
</div>



<!-- Gráficos de Genero X Curso  -->
<script>

const handlerGenderCourse = function(e) {
   var formData = $('#myform').serialize()
   e.preventDefault(); // avoid to execute the actual submit of the form.
   $.ajax({
        url: "/update_graph/",
        data: formData + "&graph_name=generoXcurso",
        cache: false,
        dataType: 'json',
        type: 'POST',
        success: function (data, status) {
        		genderCourse = data.generoXcurso
				updateGraphGenderCourse(genderCourse)
				select = document.getElementById("course")
				select.value = data.generoXcurso["Course"];
				select = document.getElementById("statesGenderCourse")
				select.value = genderCourse.State;

				select = document.getElementById("university")
				 $("#university").empty();
				 var option = document.createElement("option");
				 option.value = "Todos";
				 option.text = "Todos";
				 select.appendChild(option);

				 instValues = genderCourse.Instituicoes;

				 for (const value of instValues)
				 {
					  var option = document.createElement("option");
					  option.value = value;
					  option.text = value.charAt(0).toUpperCase() + value.slice(1);
					  select.appendChild(option);
				 }
				 select.value = genderCourse.Instituicao;

 				$("#course").empty();
				selectCourse = document.getElementById("course")

				all_courses = genderCourse.Courses;

				for (const course of all_courses)
				{
					var option = document.createElement("option");
					option.value = course;
					option.text = course.charAt(0).toUpperCase() + course.slice(1);
					selectCourse.appendChild(option);
				}
				selectCourse.value = genderCourse.Course;

        }
    });
}

var select = document.getElementById('myform');
select.addEventListener('change', handlerGenderCourse);

var chartGenderCourse;
var genderCourse = {{ generoXcurso | safe }}

function updateGraphGenderCourse(object_all){
	if (Object.keys(object_all).length == 0)
	{
		myChart.destroy();
		document.getElementById("div_gen_course").innerHTML += "Sem informações suficientes para gerar os gráficos!";
    }
    else
    {
	var colorArray = ["green", "blue", "black"]
	chartGenderCourse.data.labels = object_all["Labels"]
	chartGenderCourse.data.datasets[0].label = object_all["Course"]
	chartGenderCourse.data.datasets[0].backgroundColor = colorArray
	chartGenderCourse.data.datasets[0].data = object_all["Data"]
	chartGenderCourse.options.title.text = 'Genero X Curso de ' + object_all["Course"]
	chartGenderCourse.update();
	}
}

function createGraphGenderCourse(object_all)
{
var colorArray = ["green", "blue", "black"]

chartGenderCourse = new Chart(document.getElementById("generoXcurso"), {
type: 'pie',
data: {
  labels: object_all["Labels"],
  datasets: [{
	label : object_all["Course"],
	backgroundColor: colorArray,
	data: object_all["Data"]
}]
},
options: {
  title: {
	display: true,
	text: 'Genero X Curso de ' + object_all["Course"]
  },
  plugins: {
	datalabels: {
	formatter: (value, ctx) => {
	  let sum = 0;
	  let dataArr = ctx.chart.data.datasets[0].data;
	  dataArr.map(data => {
		  sum += data;
	  });
	  let percentage = (value*100 / sum).toFixed(2)+"%";
	  return percentage;


	},
	color: '#fff',
	}
}
},
});
}

function init(object_all) {

if (Object.keys(object_all).length == 0)
{
    document.getElementById("div_gen_course").innerHTML = "Sem informações suficientes para gerar os gráficos!";
}
else
{
document.getElementById("course").value = object_all["Course"];

selectCourse = document.getElementById("course")

all_courses = object_all["Courses"];

for (const course of all_courses)
{
	var option = document.createElement("option");
	option.value = course;
	option.text = course.charAt(0).toUpperCase() + course.slice(1);
	selectCourse.appendChild(option);
}
selectCourse.value = object_all["Course"];

selectState = document.getElementById("statesGenderCourse")

all_states = object_all["States"];

var option = document.createElement("option");
option.value = "Todos";
option.text = "Todos";
selectState.appendChild(option);

for (const state of all_states)
{
    var option = document.createElement("option");
    option.value = state;
    option.text = state.charAt(0).toUpperCase() + state.slice(1);
    selectState.appendChild(option);
}
selectState.value = object_all["State"];

selectUni = document.getElementById("university")

all_universities = object_all["Instituicoes"];

var option = document.createElement("option");
option.value = "Todos";
option.text = "Todos";
selectUni.appendChild(option);

for (const university of all_universities)
{
    var option = document.createElement("option");
    option.value = university;
    option.text = university.charAt(0).toUpperCase() + university.slice(1);
    selectUni.appendChild(option);
}
selectUni.value = object_all["Instituicao"];



createGraphGenderCourse(object_all)
}
}
init(genderCourse);
</script>