{% extends 'metrics/main_graph_page.html' %}

{% block content %}

<h1>Gráficos de Genero X Curso por Universidade e UF</h1>

{% include 'metrics/page1/graph_gender_vs_course.html' %}

<br>
<br>
<br>

<h1>Gráficos Comparativos para Generos</h1>

{% include 'metrics/page1/graph_gender_vs_course_comparation.html' %}

<br>
<br>
<br>

<h1>Gráficos de Classe Social X Curso por Universidade e UF</h1>

{% include 'metrics/page1/graph_social_class_vs_course.html' %}

<br>
<br>
<br>

<h1>Gráficos Comparativos para Classe Social</h1>

{% include 'metrics/page1/graph_social_class_vs_course_comparation.html' %}

<script>
    history.pushState({}, null, '/graphs_profissionais_vs_universidade/');
</script>

{% endblock %}