
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
#divgenerouniversidade {
display: block;
max-width: 944px;
max-height: 472px;
margin: auto;
}

</style>

<div id="div_gen_uni" class="col-md-12">
<form id="myform2" method="POST" action="" enctype = "multipart/form-data" onchange="handlerGenderUniversity">
{% csrf_token %}
<label for="qtygenderuniversidade">Escolha o numero de elementos máximo:</label>
<select name="qtygenderuniversidade" id="qtygenderuniversidade">
  <option value="5">5</option>
  <option value="10" selected>10</option>
  <option value="15">15</option>
  <option value="20">20</option>
</select>
<br>
<label for="states">Estado:</label>
<select name="states" id="states"></select>
</form>
<div id="divgenerouniversidade">
    <canvas id="generoXuniversidade"></canvas>
</div>
</div>

<!-- Funções jQuery de atualização e afins -->
<script>
const handlerGenderUniversity = function(e) {
   var formData = $('#myform2').serialize()
   e.preventDefault(); // avoid to execute the actual submit of the form.
   $.ajax({
        url: "/update_graph/",
        data: formData + "&graph_name=generoXuniversidade",
        cache: false,
        dataType: 'json',
        type: 'POST',
        success: function (data, status) {
        		genderCourse = data.generoXuniversidade
				updateGraphGenderUniversity(genderCourse)
				select = document.getElementById("states")
				select.value = genderCourse.State;
				document.getElementById("qtygenderuniversidade").value = genderCourse["Total"];
        }
    });
}

var select = document.getElementById('myform2');
select.addEventListener('change', handlerGenderUniversity);

</script>

<!-- Método que realiza a atualização do gráfico -->
<script>
function updateGraphGenderUniversity(object_all){
	if (Object.keys(object_all).length == 0)
	{
		myChart.destroy();
		document.getElementById("div_gen_course").innerHTML += "Sem informações suficientes para gerar os gráficos!";
    }
    else
    {
    all_data = object_all["Data"]
    datasets = [];
    var colorArray = [ 'red' , 'blue' , 'green'];
    for (var i = 0 ; i < all_data.length ; i++){
        var dataset = {
                label : all_data[i][0],
                backgroundColor: colorArray[i],
                data:  all_data[i][1]
        };
        datasets.push(dataset);
    }

	chartGenderUniversity.data.labels = object_all["Instituicoes"]
	chartGenderUniversity.data.datasets = datasets
	chartGenderUniversity.update();
	}
}
</script>

<!-- Função que cria o gráfico inicialmente -->
<script>
function createGraphGenderUniversity(object_all)
{
var colorArray = [ 'red' , 'blue' , 'green'];

var i = 0;
datasets = [];
{% for item in generoXuniversidade.Data %}
    var dataset = {
        label : "{{ item.0 | safe }}",
        backgroundColor: colorArray[i],
        data: {{ item.1 | safe }}
    };
    datasets.push(dataset);
    i += 1;
{%endfor%}

chartGenderUniversity = new Chart(document.getElementById("generoXuniversidade"), {
        type: 'bar',
        data: {
          labels: object_all["Instituicoes"],
          datasets: datasets
        },
        options: {
        plugins: {
          title: {
            display: true,
            text: 'Genero X Universidade'
          },
         },
          responsive: true,
          scales: {
          x: {
            stacked: true,
          },
          y: {
            stacked: true
          }
        }
        }
        });
}
</script>

<!-- Função do método init -->
<script>
function initGenderUniversity(object_all) {

if (Object.keys(object_all).length == 0)
{
    document.getElementById("div_gen_uni").innerHTML = "Sem informações suficientes para gerar os gráficos!";
}
else
{
document.getElementById("qtygenderuniversidade").value = object_all["Total"];

select = document.getElementById("states")

all_states = object_all["States"];

var option = document.createElement("option");
option.value = "Todos";
option.text = "Todos";
select.appendChild(option);

for (const state of all_states)
{
    var option = document.createElement("option");
    option.value = state;
    option.text = state.charAt(0).toUpperCase() + state.slice(1);
    select.appendChild(option);
}
select.value = "{{ generoXuniversidade.State | safe}}";

createGraphGenderUniversity(object_all)
}
}
</script>

<!-- Execucao inicial do método init -->
<script>
    var chartGenderUniversity;
    var genderUniversity = {{ generoXuniversidade | safe }}
    initGenderUniversity(genderUniversity);
</script>
