{% extends 'metrics/main_graph_page.html' %}

{% block content %}

<h1>Gráficos de Genero X Dados Empresariais</h1>

{% include 'metrics/page2/graph_gender_vs_labor_market.html' %}

<br>
<br>
<br>

<h1>Gráficos Comparativos para Generos</h1>

{% include 'metrics/page2/graph_gender_vs_labor_market_comparation.html' %}

<br>
<br>
<br>

<h1>Gráficos de Classe Social X Dados Empresariais</h1>

{% include 'metrics/page2/graph_social_class_vs_labor_market.html' %}

<br>
<br>
<br>

<h1>Gráficos de Idade X Genero por Area</h1>

{% include 'metrics/page2/graph_age_vs_area.html' %}

<br>
<br>
<br>

<h1>Gráficos de Genero X Salario por Area</h1>

{% include 'metrics/page2/graph_gender_vs_salario.html' %}


{% endblock %}