<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
#divgeneroarea {
display: block;
max-width: 944px;
max-height: 472px;
margin: auto;
}

</style>

<div id="div_gender_vs_area" class="col-md-12">
    <form method="POST" id="myform2" action="" enctype = "multipart/form-data" onchange="handleGenderArea">
    {% csrf_token %}
    <label for="qtygenderarea">Escolha o numero de elementos máximo:</label>
    <select name="qtygenderarea" id="qtygenderarea">
      <option value="5">5</option>
      <option value="10" selected>10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
    </form>
    <div id="divgeneroarea">
        <canvas id="generoXarea">></canvas>
    </div>
</div>

<!-- Funções jQuery de atualização e afins -->
<script>
const handleGenderArea = function(e) {
   var formData = $('#myform2').serialize()
   e.preventDefault(); // avoid to execute the actual submit of the form.
   $.ajax({
        url: "/update_graph/",
        data: formData + "&graph_name=generoXarea",
        cache: false,
        dataType: 'json',
        type: 'POST',
        success: function (data, status) {
        		genderArea = data.generoXarea
				updateGraphGenderArea(genderArea)
				document.getElementById("qtygenderarea").value = genderArea["Total"];
        }
    });
}

var select = document.getElementById('myform2');
select.addEventListener('change', handleGenderArea);

</script>

<!-- Método que realiza a atualização do gráfico -->
<script>
function updateGraphGenderArea(object_all){
	if (Object.keys(object_all).length == 0)
	{
		chartGenderArea.destroy();
		document.getElementById("div_gender_vs_area").innerHTML += "Sem informações suficientes para gerar os gráficos!";
    }
    else
    {
    all_data = object_all["Data"]
    datasets = [];
    var colorArray = [ 'red' , 'blue' , 'green'];
    for (var i = 0 ; i < all_data.length ; i++){
        var dataset = {
                label : all_data[i][0],
                backgroundColor: colorArray[i],
                data:  all_data[i][1]
        };
        datasets.push(dataset);
    }

	chartGenderArea.data.labels = object_all["Areas"]
	chartGenderArea.data.datasets = datasets
	chartGenderArea.update();
	}
}
</script>

<!-- Função que cria o gráfico inicialmente -->
<script>
function createGraphGenderArea(object_all)
{
var colorArray = [ 'red' , 'blue' , 'green'];

var i = 0;
datasets = [];
{% for item in generoXarea.Data %}
    var dataset = {
        label : "{{ item.0 | safe }}",
        backgroundColor: colorArray[i],
        data: {{ item.1 | safe }}
    };
    datasets.push(dataset);
    i += 1;
{%endfor%}

chartGenderArea = new Chart(document.getElementById("generoXarea"), {
    type: 'bar',
    data: {
      labels: object_all["Areas"],
      datasets: datasets
    },
    options: {
    plugins: {
      title: {
        display: true,
        text: 'Genero X Area'
      },
     },
      responsive: true,
      scales: {
      x: {
        stacked: true,
      },
      y: {
        stacked: true
      }
    }
    }
	});
}
</script>

<!-- Função do método init -->
<script>
function initGenderArea(object_all) {

if (Object.keys(object_all).length == 0)
{
    document.getElementById("div_gender_vs_area").innerHTML = "Sem informações suficientes para gerar os gráficos!";
}
else
{
document.getElementById("qtygenderarea").value = object_all["Total"];

createGraphGenderArea(object_all)
}
}
</script>

<!-- Execucao inicial do método init -->
<script>
    var chartGenderArea;
    var genderArea = {{ generoXarea | safe }}
    initGenderArea(genderArea);
</script>