<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<style>
#divagearea {
display: block;
max-width: 944px;
max-height: 472px;
margin: auto;
}

</style>

<div id="div_age_vs_area" class="col-md-12">
    <form method="POST" id="myform22" action="" enctype = "multipart/form-data" onchange="handleAgeArea">
	{% csrf_token %}
	<label for="qtyagearea">Escolha o numero de elementos máximo:</label>
	  <select name="qtyagearea" id="qtyagearea">
		<option value="5">5</option>
		<option value="10" selected>10</option>
		<option value="15">15</option>
		<option value="20">20</option>
	  </select>
	</form>
	<div id="divagearea">
    	<canvas id="ageXarea"></canvas>
	</div>
</div>

<!-- Funções jQuery de atualização e afins -->
<script>
const handleAgeArea = function(e) {
   var formData = $('#myform22').serialize()
   e.preventDefault(); // avoid to execute the actual submit of the form.
   $.ajax({
        url: "/update_graph/",
        data: formData + "&graph_name=ageXarea",
        cache: false,
        dataType: 'json',
        type: 'POST',
        success: function (data, status) {
        		ageArea = data.ageXarea
				updateGraphGenderUniversity(ageArea)
				document.getElementById("qtyagearea").value = ageArea["Total"];
        }
    });
}

var select = document.getElementById('myform22');
select.addEventListener('change', handleAgeArea);

</script>

<!-- Método que realiza a atualização do gráfico -->
<script>
function updateGraphGenderUniversity(object_all){
	if (Object.keys(object_all).length == 0)
	{
		chartAgeArea.destroy();
		document.getElementById("div_age_vs_area").innerHTML += "Sem informações suficientes para gerar os gráficos!";
    }
    else
    {
    all_data = object_all["Data"]
    datasets = [];
    var colorArray = [ 'red' , 'blue' , 'green'];
    for (var i = 0 ; i < all_data.length ; i++){
        var dataset = {
                label : all_data[i][0],
                backgroundColor: colorArray[i],
                data:  all_data[i][1]
        };
        datasets.push(dataset);
    }

	chartAgeArea.data.labels = object_all["Areas"]
	chartAgeArea.data.datasets = datasets
	chartAgeArea.update();
	}
}
</script>

<!-- Função que cria o gráfico inicialmente -->
<script>
function createGraphAgeArea(object_all)
{
var colorArray = [ 'red' , 'blue' , 'green'];

var i = 0;
datasets = [];
{% for item in ageXarea.Data %}
    var dataset = {
        label : "{{ item.0 | safe }}",
        backgroundColor: colorArray[i],
        data: {{ item.1 | safe }}
    };
    datasets.push(dataset);
    i += 1;
{%endfor%}

chartAgeArea = new Chart(document.getElementById("ageXarea"), {
    type: 'bar',
    data: {
      labels: object_all["Areas"],
      datasets: datasets
    },
    options: {
    scales: {
        yAxes: [{
            ticks: {
                min: 0,
                max: 100,
                stepSize: 20
            }
        }]
    },
    plugins: {
      title: {
        display: true,
        text: 'Idade X Area'
      },
     },
      responsive: true,
    }
	});
}
</script>

<!-- Função do método init -->
<script>
function initAgeArea(object_all) {

if (Object.keys(object_all).length == 0)
{
    document.getElementById("div_age_vs_area").innerHTML = "Sem informações suficientes para gerar os gráficos!";
}
else
{
document.getElementById("qtyagearea").value = object_all["Total"];

createGraphAgeArea(object_all)
}
}
</script>

<!-- Execucao inicial do método init -->
<script>
    var chartAgeArea;
    var ageArea = {{ ageXarea | safe }}
    initAgeArea(ageArea);
</script>