
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"></script>

<style>
#divAgeDataComparation {
display: block;
max-width: 944px;
max-height: 472px;
margin: auto;
}

</style>

<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

<style>
    #wrapperDataAgeCompare {
    display: block;
    }

</style>

<div id="div_age_vs_data" class="col-md-12">
<form id="myform" method="POST" action="" enctype = "multipart/form-data" onchange="handlerAgeDataComparation">
{% csrf_token %}
    <div class="wrapper">
    <div class="card">
      <h5 class="card-header">Comparativos</h5>
      <div class="card-body">
            <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" >Comparacao Por</span>
  </div>
<select name="entityAgeDataComparation" id="entityAgeDataComparation">
     <option value="Empresa" selected>Empresa</option>
     <option value="Area">Area</option>
     <option value="Universidade">Universidade</option>
     <option value="Curso">Curso</option>
     <option value="Genero">Genero</option>
     <option value="Classe">Classe Social</option>
     <option value="Estado_Universidade">Estado da Universidade</option>
     <option value="Estado_Empresa">Estado da Empresa</option>
</select>
</div>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Ordenação e Tamanho do Gráfico</h5>
      <div class="card-body">
                <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text" >Escolha a Quantidade de Valores Exibidos</span>
        </div>
        <input id="qtyAgeDataComparation" name="qtyAgeDataComparation" type="number" value="10" min="1" max="100" >
        </div>
                <br>
                <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" >Escolha a Ordenação</span>
                </div>
                <select name="maxMinAgeLaborMarketComparation" id="maxMinAgeLaborMarketComparation">
                         <option value="Max" selected>Maior para o menor em quantidade</option>
                         <option value="Min">Menor para o maior em quantidade</option>
                </select>
                </div>
      </div>
    </div>
</div>
    <div class="wrapper" id="wrapperDataAgeCompare">
        <div class="card">
          <h5 class="card-header">Dados Acadêmicos</h5>
          <div class="card-body">
                <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" >Escolha um ou mais Estados das Universidades</span>
          </div>
        <input id="statesUniAgeDataComparation" name="statesUniAgeDataComparation" class="form-control">
        </div>
                <br>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" >Escolha uma ou mais Universidades</span>
                  </div>
                <input id="universityAgeDataComparation" name="universityAgeDataComparation" class="form-control">
                </div>
                <br>
                <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" >Escolha um ou mais Cursos</span>
          </div>
        <input id="courseAgeDataComparation" name="courseAgeDataComparation" class="form-control">
        </div>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Dados Profissionais</h5>
          <div class="card-body">
                    <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" >Escolha o Estado da Empresa</span>
          </div>
        <input id="statesAgeDataComparation" name="statesAgeDataComparation" class="form-control">
        </div>
                    <br>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" >Escolha uma ou mais Empresas</span>
                      </div>
                    <input id="companyAgeDataComparation" name="companyAgeDataComparation" class="form-control">
                    </div>
                    <br>
                    <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" >Escolha uma ou mais Areas</span>
          </div>
        <input id="areaAgeDataComparation" name="areaAgeDataComparation" class="form-control">
        </div>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Dados Pessoais</h5>
          <div class="card-body">
          <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" >Escolha um ou mais Generos</span>
          </div>
        <input id="genderAgeDataComparation" name="genderAgeDataComparation" class="form-control">
        </div>
          <br>
          <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" >Escolha uma ou mais Classes Sociais</span>
          </div>
        <input id="classAgeDataComparation" name="classAgeDataComparation" class="form-control">
        </div>
        </div>
        </div>
    </div>
</form>
<div class="alert" id="error-message" style="display:none;">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>O campo deve conter pelo menos 1 valor!</strong>
</div>
<div id="divAgeDataComparation">
    <div id="no-data-age-vs-data-comparation">
        <h2>Informação insuficiente para gerar o gráfico</h2>
    </div>
    <canvas id="idadeXdadosCompare" ng-if="data != 0"></canvas>
    <br>
    <br>
</div>
</div>

<!-- Create Request based on the parameters -->
-<script>
    qtyAgeDataComparation.oninput = function () {
        if (this.value < 0) {
            this.value = 0
        } else if (this.value > 100)
        {
            this.value = 100
        }
    }
    function getValuesfromField(divField)
    {
        var value = $(divField).select2('data');
        all_texts = [];
        for(var i = 0; i < value.length; i++)
        {
            text = value[i].text;
            all_texts.push(text);
        }
        return JSON.stringify(all_texts);
    }
	function changeValuesinRequestAgeDataComparation(request)
	{
		var final_request = {};
		$.each($('#myform').serializeArray(), function(_, kv) {
		  final_request[kv.name] = kv.value;
		});
		final_request["statesAgeDataComparation"] = getValuesfromField("#statesAgeDataComparation")
        final_request["statesUniAgeDataComparation"] = getValuesfromField("#statesUniAgeDataComparation")
        final_request["universityAgeDataComparation"] = getValuesfromField("#universityAgeDataComparation")
        final_request["companyAgeDataComparation"] = getValuesfromField("#companyAgeDataComparation")
        final_request["courseAgeDataComparation"] = getValuesfromField("#courseAgeDataComparation")
        final_request["areaAgeDataComparation"] = getValuesfromField("#areaAgeDataComparation")
        final_request["genderAgeDataComparation"] = getValuesfromField("#genderAgeDataComparation")
        final_request["classAgeDataComparation"] = getValuesfromField("#classAgeDataComparation")

		final_request["graph_name"] = "idadeXdadosCompare"
		return final_request
	}

</script>

<!-- Funções jQuery de atualização e afins -->
<script>
const tryRemoveValue = function(e)
{
 var list_values = $(this).val().split(',')
 if(list_values.length === 1) {
   $("#error-message").fadeTo(2000, 500).slideUp(500, function() {
      $("#error-message").slideUp(500);
    });
    e.preventDefault();
        }
}

const handlerAgeDataComparation = function(e) {
   var formData = $('#myform').serializeArray()
   e.preventDefault(); // avoid to execute the actual submit of the form.
   formData = changeValuesinRequestAgeDataComparation(formData)
   $.ajax({
        url: "/update_graph/",
        data: formData,
        cache: false,
        dataType: 'json',
        type: 'POST',
        success: function (data, status) {
        		ageDataComparation = data.idadeXdadosCompare
        		if (Object.keys(ageDataComparation).length == 0 || Object.keys(ageDataComparation["Data"]).length == 0)
                {
                    document.getElementById('no-data-age-vs-data-comparation').style.display = 'block';
                    document.getElementById('idadeXdadosCompare').style.display = 'none'
                }
                else
                {
                    updateAgeDataComparation(ageDataComparation)

                    initValuesAgeDataCompare("Classes", "Class", "#classAgeDataComparation", true)

                    initValuesAgeDataCompare("Genders", "Gender", "#genderAgeDataComparation", true)

                    initValuesAgeDataCompare("UniversityStates", "UniversityState", "#statesUniAgeDataComparation", true)

                    initValuesAgeDataCompare("Universities", "University", "#universityAgeDataComparation", true)

                    initValuesAgeDataCompare("Courses", "Course", "#courseAgeDataComparation", true)

                    initValuesAgeDataCompare("CompanyStates", "CompanyState", "#statesAgeDataComparation", true)

                    initValuesAgeDataCompare("Companies", "Company", "#companyAgeDataComparation", true)

                    initValuesAgeDataCompare("Areas", "Area", "#areaAgeDataComparation", true)

                    document.getElementById("qtyAgeDataComparation").value = ageDataComparation["Total"];
                    document.getElementById("entityAgeDataComparation").value = ageDataComparation["Entity"];
				}
        }
    });
}

var select = document.getElementById('myform');
select.addEventListener('change', handlerAgeDataComparation);

$('#genderAgeDataComparation').on('change', handlerAgeDataComparation)
$('#companyAgeDataComparation').on('change', handlerAgeDataComparation)
$('#statesUniAgeDataComparation').on('change', handlerAgeDataComparation)
$('#universityAgeDataComparation').on('change', handlerAgeDataComparation)
$('#courseAgeDataComparation').on('change', handlerAgeDataComparation)
$('#statesAgeDataComparation').on('change', handlerAgeDataComparation)
$('#areaAgeDataComparation').on('change', handlerAgeDataComparation)
$('#classAgeDataComparation').on('change', handlerAgeDataComparation)

$('#genderAgeDataComparation').on('select2-removing', tryRemoveValue)
$('#companyAgeDataComparation').on('select2-removing', tryRemoveValue)
$('#statesUniAgeDataComparation').on('select2-removing', tryRemoveValue)
$('#universityAgeDataComparation').on('select2-removing', tryRemoveValue)
$('#courseAgeDataComparation').on('select2-removing', tryRemoveValue)
$('#statesAgeDataComparation').on('select2-removing', tryRemoveValue)
$('#areaAgeDataComparation').on('select2-removing', tryRemoveValue)
$('#classAgeDataComparation').on('select2-removing', tryRemoveValue)

</script>

<!-- Método que realiza a atualização do gráfico -->
<script>
function updateAgeDataComparation(object_all)
{
    document.getElementById('no-data-age-vs-data-comparation').style.display = 'none';
    document.getElementById('idadeXdadosCompare').style.display = 'block'
    var colorArray = [ 'blue'];
    chartAgeDataComparation.data.labels = object_all["Entities"]
    chartAgeDataComparation.data.datasets[0].backgroundColor = colorArray[0]
    chartAgeDataComparation.data.datasets[0].data = object_all["Data"]
    chartAgeDataComparation.options.title.text = ['Comparativo de Media de Idade por '+object_all["Entity"]+' com Dados Pessoais, Academicos e Profissionais'
        , 'Media de Idade Geral : '+sumAllAges(object_all["Data"])+'']
    chartAgeDataComparation.update();
}
</script>

<!-- Função que cria o gráfico inicialmente -->
<script>
function sumAllAges(data)
{
    sum = 0
    for( var i = 0 ; i < data.length; i++)
    {
       sum += data[i]
    }
    sum = sum / data.length;

    return sum;
}

function createGraphAgeDataComparation(object_all)
{
var colorArray = [ 'blue'];

chartAgeDataComparation = new Chart(document.getElementById("idadeXdadosCompare"), {
        type: 'bar',
        data: {
          labels: object_all["Entities"],
          datasets: [{
                label : "Media de Idade",
                backgroundColor: colorArray[0],
                data: object_all["Data"]
            }]
        },
        options: {
        scales: {
        xAxes: [{
          ticks: {
            callback: function(value) {
                    if (value.length > 20) {
                        return value.substring(0, 20) + '...'; //truncate
                    } else {
                        return value
                    }
                },
            }
        }],
        yAxes: [{
            ticks: {
                min: 0,
                max: 100,
                stepSize: 20
            }
        }]
        },
        title: {
            display: true,
            text: ['Comparativo de Media de Idade por '+object_all["Entity"]+' com Dados Pessoais, Academicos e Profissionais'
            , 'Media de Idade Geral : '+sumAllAges(object_all["Data"])+'']
         },
        }
        });
}
</script>

<!-- Função do método init -->
<script>
function initAgeDataComparation(object_all) {

    if (Object.keys(object_all).length == 0)
    {
        document.getElementById("div_age_vs_data").innerHTML = "Sem informações suficientes para gerar os gráficos!";
    }
    else
    {
    if (Object.keys(object_all["Data"]).length == 0)
	{
		document.getElementById('no-data-age-vs-data-comparation').style.display = 'block';
        document.getElementById('idadeXdadosCompare').style.display = 'none'
	}

    initValuesAgeDataCompare("Classes", "Class", "#classAgeDataComparation", true)
    initValuesAgeDataCompare("Genders", "Gender", "#genderAgeDataComparation", true)
    initValuesAgeDataCompare("UniversityStates", "UniversityState", "#statesUniAgeDataComparation", true)
    initValuesAgeDataCompare("Universities", "University", "#universityAgeDataComparation", true)
    initValuesAgeDataCompare("Courses", "Course", "#courseAgeDataComparation", true)
    initValuesAgeDataCompare("CompanyStates", "CompanyState", "#statesAgeDataComparation", true)
    initValuesAgeDataCompare("Companies", "Company", "#companyAgeDataComparation", true)
    initValuesAgeDataCompare("Areas", "Area", "#areaAgeDataComparation", true)
    document.getElementById("entityAgeDataComparation").value = ageDataComparation["Entity"];

    createGraphAgeDataComparation(object_all)
    }
}
</script>

<script>

function initValuesAgeDataCompare(all_fields, field, divNameWithTag, hasAllFlag) {
	var testData = [];
    createSelect = false;

	testData.push(
		{
		id : 0,
		text: "Todos"
		});
	// Instead of doing this use the AJAX call to poulate the data.
	for (var i=0; i < ageDataComparation[all_fields]["Item"].length; i++) {
		testData.push(
		{
		id : i+1,
		text: ageDataComparation[all_fields]["Item"][i]
		});
	}

    if (ageDataComparation[all_fields]["SameState"] == "False")
    {
        $(divNameWithTag).select2({
          data: testData,
          multiple: true,
          closeOnSelect: false,
          allowClear: true,
          query: function(q) {
          var pageSize,
            results,
            that = this;
          pageSize = 20; // or whatever pagesize
          results = [];
          if (q.term && q.term !== '') {
            // HEADS UP; for the _.filter function i use underscore (actually lo-dash) here
            results = _.filter(that.data, function(e) {
              return e.text.toUpperCase().indexOf(q.term.toUpperCase()) >= 0;
            });
          } else if (q.term === '') {
            results = that.data;
          }
          q.callback({
            results: results.slice((q.page - 1) * pageSize, q.page * pageSize),
            more: results.length >= q.page * pageSize,
          });
        }
        })

        var data = getMultipleValues(testData, ageDataComparation[field])

        $(divNameWithTag).select2("data", data);
    }
}

function getMultipleValues(testData, field)
{
    all_values = []

    for(var i = 0; i < field.length; i++)
    {
        var data = testData.find(o => o.text === field[i])
        if (data != undefined)
        {
            all_values.push(data)
        }
    }
    return all_values
}
</script>

<!-- Execucao inicial do método init -->
<script>
    document.getElementById('no-data-age-vs-data-comparation').style.display = 'none';
    var chartAgeDataComparation;
    var ageDataComparation = {{ idadeXdadosCompare | safe }}
    initAgeDataComparation(ageDataComparation);
</script>

