
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"></script>

<style>
#divgeneroLaborMarketComparation {
display: block;
max-width: 944px;
max-height: 472px;
margin: auto;
}

</style>

<div id="div_gen_vs_labor_market_comparation" class="col-md-12">
<form id="myform2" method="POST" action="" enctype = "multipart/form-data" onchange="handlerGenderLaborMarketComparation">
{% csrf_token %}
<label for="entitygenderLaborMarketComparation">Comparacao por:</label>
<select name="entitygenderLaborMarketComparation" id="entitygenderLaborMarketComparation">
     <option value="Empresa" selected>Empresa</option>
     <option value="Area">Area</option>
     <option value="Instituicao">Instituicao</option>
     <option value="Curso">Curso</option>
     <option value="Classe">Classe Social</option>
</select>
<br>
<label for="genderLaborMarketComparation">Escolha o Genero a ser comparado:</label>
<input id="genderLaborMarketComparation">
<br>
<label for="statesUniLaborMarketComparation">Escolha o Estado da Instituicao:</label>
<input id="statesUniLaborMarketComparation">
<br>
<label for="universityGenderXLaborMarketComparation">Escolha a instituição:</label>
<input id="universityGenderXLaborMarketComparation">
<br>
<label for="courseGenderXLaborMarketComparation">Escolha o curso:</label>
<input id="courseGenderXLaborMarketComparation">
<br>
<label for="statesCompanyLaborMarketComparation">Escolha o Estado da empresa:</label>
<input id="statesCompanyLaborMarketComparation">
<br>
<label for="companyGenderXLaborMarketComparation">Escolha a empresa:</label>
<input id="companyGenderXLaborMarketComparation" style="width:100%;">
<br>
<label for="areaGenderXLaborMarketComparation">Escolha a area:</label>
<input id="areaGenderXLaborMarketComparation" style="width:50%;">
<br>
<label for="classGenderXLaborMarketComparation">Escolha a classe social:</label>
<input id="classGenderXLaborMarketComparation">
<br>
<label for="qtygenderLaborMarketComparation">Escolha o numero de elementos máximo:</label>
<select name="qtygenderLaborMarketComparation" id="qtygenderLaborMarketComparation">
  <option value="5">5</option>
  <option value="10" selected>10</option>
  <option value="15">15</option>
  <option value="20">20</option>
</select>
</form>
<div id="divgeneroLaborMarketComparation">
    <div id="no-data-gender-labor-market-comparation">
        <h2>Informação insuficiente para gerar o gráfico</h2>
    </div>
    <canvas id="generoXmercadodetrabalhoCompare" ng-if="data != 0"></canvas>
</div>
</div>

<!-- Create Request based on the parameters -->
<script>
	function changeValuesinRequestGenderLaborMarketComparation(request)
	{
		var final_request = {};
		$.each($('#myform2').serializeArray(), function(_, kv) {
		  final_request[kv.name] = kv.value;
		});

        var companyState = $("#statesCompanyLaborMarketComparation").select2('data').text;
		final_request["statesCompanyLaborMarketComparation"] = companyState

        var universityState = $("#statesUniLaborMarketComparation").select2('data').text;
		final_request["statesUniLaborMarketComparation"] = universityState

		var university = $("#universityGenderXLaborMarketComparation").select2('data').text;
		final_request["universityGenderXLaborMarketComparation"] = university

		var company = $("#companyGenderXLaborMarketComparation").select2('data').text;
		final_request["companyGenderXLaborMarketComparation"] = company

		var course = $("#courseGenderXLaborMarketComparation").select2('data').text;
		final_request["courseGenderXLaborMarketComparation"] = course

		var area = $("#areaGenderXLaborMarketComparation").select2('data').text;
		final_request["areaGenderXLaborMarketComparation"] = area

		var gendervalue = $("#genderLaborMarketComparation").select2('data').text;
		final_request["genderLaborMarketComparation"] = gendervalue

		var classValue = $("#classGenderXLaborMarketComparation").select2('data').text;
		final_request["classGenderXLaborMarketComparation"] = classValue

		final_request["graph_name"] = "generoXmercadodetrabalhoCompare"
		return final_request
	}

</script>

<!-- Funções jQuery de atualização e afins -->
<script>
const handlerGenderLaborMarketComparation = function(e) {
   var formData = $('#myform2').serializeArray()
   e.preventDefault(); // avoid to execute the actual submit of the form.
   formData = changeValuesinRequestGenderLaborMarketComparation(formData)
   $.ajax({
        url: "/update_graph/",
        data: formData,
        cache: false,
        dataType: 'json',
        type: 'POST',
        success: function (data, status) {
        		genderLaborMarketComparation = data.generoXmercadodetrabalhoCompare
				updateGraphGenderLaborMarketComparation(genderLaborMarketComparation)
				$("#genderLaborMarketComparation").empty();
				initValuesGenderLaborMarketCompare("Genders", "Gender", "#genderLaborMarketComparation", false)

				$("#statesUniLaborMarketComparation").empty();
				initValuesGenderLaborMarketCompare("UniversityStates", "UniversityState", "#statesUniLaborMarketComparation", true)

				$("#universityGenderXLaborMarketComparation").empty();
				initValuesGenderLaborMarketCompare("Universities", "University", "#universityGenderXLaborMarketComparation", true)

				$("#courseGenderXLaborMarketComparation").empty();
				initValuesGenderLaborMarketCompare("Courses", "Course", "#courseGenderXLaborMarketComparation", true)

				$("#statesCompanyLaborMarketComparation").empty();
				initValuesGenderLaborMarketCompare("CompanyStates", "CompanyState", "#statesCompanyLaborMarketComparation", true)

				$("#companyGenderXLaborMarketComparation").empty();
				initValuesGenderLaborMarketCompare("Companies", "Company", "#companyGenderXLaborMarketComparation", true)

				$("#areaGenderXLaborMarketComparation").empty();
				initValuesGenderLaborMarketCompare("Areas", "Area", "#areaGenderXLaborMarketComparation", true)

                $("#classGenderXLaborMarketComparation").empty();
                initValuesGenderLaborMarketCompare("Classes", "Class", "#classGenderXLaborMarketComparation", true)

                document.getElementById("qtygenderLaborMarketComparation").value = genderLaborMarketComparation["Total"];
				document.getElementById("entitygenderLaborMarketComparation").value = genderLaborMarketComparation["Entity"];
        }
    });
}

var select = document.getElementById('myform2');
select.addEventListener('change', handlerGenderLaborMarketComparation);
$('#genderLaborMarketComparation').on('change', handlerGenderLaborMarketComparation)
$('#statesUniLaborMarketComparation').on('change', handlerGenderLaborMarketComparation)
$('#universityGenderXLaborMarketComparation').on('change', handlerGenderLaborMarketComparation)
$('#courseGenderXLaborMarketComparation').on('change', handlerGenderLaborMarketComparation)
$('#statesCompanyLaborMarketComparation').on('change', handlerGenderLaborMarketComparation)
$('#companyGenderXLaborMarketComparation').on('change', handlerGenderLaborMarketComparation)
$('#areaGenderXLaborMarketComparation').on('change', handlerGenderLaborMarketComparation)
$('#classGenderXLaborMarketComparation').on('change', handlerGenderLaborMarketComparation)


</script>

<!-- Método que realiza a atualização do gráfico -->
<script>
function updateGraphGenderLaborMarketComparation(object_all)
{
	if (Object.keys(object_all).length == 0 || Object.keys(object_all["Data"]).length == 0)
	{
	    document.getElementById('no-data-gender-labor-market-comparation').style.display = 'block';
        document.getElementById('generoXmercadodetrabalhoCompare').style.display = 'none'
    }
    else
    {
        document.getElementById('no-data-gender-labor-market-comparation').style.display = 'none';
        document.getElementById('generoXmercadodetrabalhoCompare').style.display = 'block'
        var colorArray = [ 'blue'];
        chartGenderLaborMarketComparation.data.labels = object_all["Entities"]
        chartGenderLaborMarketComparation.data.datasets[0].label = object_all["Gender"]
        chartGenderLaborMarketComparation.data.datasets[0].backgroundColor = colorArray[0]
        chartGenderLaborMarketComparation.data.datasets[0].data = object_all["Data"]
        chartGenderLaborMarketComparation.update();
	}
}
</script>

<!-- Função que cria o gráfico inicialmente -->
<script>
function createGraphGenderLaborMarketComparation(object_all)
{
var colorArray = [ 'blue'];

chartGenderLaborMarketComparation = new Chart(document.getElementById("generoXmercadodetrabalhoCompare"), {
        type: 'bar',
        data: {
          labels: object_all["Entities"],
          datasets: [{
                label : object_all["Gender"],
                backgroundColor: colorArray[0],
                data: object_all["Data"]
            }]
        },
        options: {
        scales: {
        yAxes: [{
            ticks: {
                min: 0,
                max: 100,
                stepSize: 20
            }
        }]
        },
      title: {
            display: true,
            text: 'Comparativo Genero em (%)'
         },
        }
        });
}
</script>

<!-- Função do método init -->
<script>
function initGenderLaborMarketComparation(object_all) {

    if (Object.keys(object_all).length == 0)
    {
        document.getElementById("div_gen_vs_labor_market_comparation").innerHTML = "Sem informações suficientes para gerar os gráficos!";
    }
    else
    {
    if (Object.keys(object_all["Data"]).length == 0)
	{
		document.getElementById('no-data-gender-labor-market-comparation').style.display = 'block';
        document.getElementById('generoXmercadodetrabalhoCompare').style.display = 'none'
	}
    initValuesGenderLaborMarketCompare("Genders", "Gender", "#genderLaborMarketComparation", false)
    initValuesGenderLaborMarketCompare("UniversityStates", "UniversityState", "#statesUniLaborMarketComparation", true)
    initValuesGenderLaborMarketCompare("Universities", "University", "#universityGenderXLaborMarketComparation", true)
    initValuesGenderLaborMarketCompare("Courses", "Course", "#courseGenderXLaborMarketComparation", true)
    initValuesGenderLaborMarketCompare("CompanyStates", "CompanyState", "#statesCompanyLaborMarketComparation", true)
    initValuesGenderLaborMarketCompare("Companies", "Company", "#companyGenderXLaborMarketComparation", true)
    initValuesGenderLaborMarketCompare("Areas", "Area", "#areaGenderXLaborMarketComparation", true)
    initValuesGenderLaborMarketCompare("Classes", "Class", "#classGenderXLaborMarketComparation", true)

    createGraphGenderLaborMarketComparation(object_all)
    }
}
</script>

<script>

function initValuesGenderLaborMarketCompare(all_fields, field, divNameWithTag, hasAllFlag) {
	var testData = [];

    if (hasAllFlag)
    {
	testData.push(
		{
		id : 0,
		text: "Todos"
		});
    }
	// Instead of doing this use the AJAX call to poulate the data.
	for (var i=0; i < genderLaborMarketComparation[all_fields].length; i++) {
		testData.push(
		{
		id : i+1,
		text: genderLaborMarketComparation[all_fields][i]
		});
	}



	$(divNameWithTag).select2({
	  data: testData,
	  multiple: false,
	  query: function(q) {
      var pageSize,
        results,
        that = this;
      pageSize = 20; // or whatever pagesize
      results = [];
      if (q.term && q.term !== '') {
        // HEADS UP; for the _.filter function i use underscore (actually lo-dash) here
        results = _.filter(that.data, function(e) {
          return e.text.toUpperCase().indexOf(q.term.toUpperCase()) >= 0;
        });
      } else if (q.term === '') {
        results = that.data;
      }
      q.callback({
        results: results.slice((q.page - 1) * pageSize, q.page * pageSize),
        more: results.length >= q.page * pageSize,
      });
    }
	})

	var data = testData.find(o => o.text === genderLaborMarketComparation[field])

	$(divNameWithTag).select2("data", data);
}
</script>

<!-- Execucao inicial do método init -->
<script>
    document.getElementById('no-data-gender-labor-market-comparation').style.display = 'none';
    var chartGenderLaborMarketComparation;
    var genderLaborMarketComparation = {{ generoXmercadodetrabalhoCompare | safe }}
    initGenderLaborMarketComparation(genderLaborMarketComparation);
</script>

