
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"></script>

<style>
#divSallaryDataComparation {
display: block;
max-width: 944px;
max-height: 472px;
margin: auto;
}

</style>

<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

<div id="div_sallary_vs_data" class="col-md-12">
    <form id="myform" method="POST" action="" enctype = "multipart/form-data" onchange="handlerSallaryDataComparation">
    {% csrf_token %}
    <label for="entitySallaryDataComparation">Comparacao por:</label>
    <select name="entitySallaryDataComparation" id="entitySallaryDataComparation">
         <option value="Empresa" selected>Empresa</option>
         <option value="Area">Area</option>
         <option value="Instituicao">Instituicao</option>
         <option value="Curso">Curso</option>
         <option value="Genero">Genero</option>
         <option value="Classe">Classe Social</option>
    </select>
    <br>
    <label for="statesUniSallaryDataComparation">Escolha o Estado da Instituicao:</label>
    <input id="statesUniSallaryDataComparation">
    <br>
    <label for="universitySallaryDataComparation">Escolha a instituição:</label>
    <input id="universitySallaryDataComparation">
    <br>
    <label for="courseSallaryDataComparation">Escolha o curso:</label>
    <input id="courseSallaryDataComparation">
    <br>
    <label for="statesSallaryDataComparation">Escolha o Estado da empresa:</label>
    <input id="statesSallaryDataComparation">
    <br>
    <label for="companySallaryDataComparation">Escolha a empresa:</label>
    <input id="companySallaryDataComparation" style="width:100%;">
    <br>
    <label for="areaSallaryDataComparation">Escolha a area:</label>
    <input id="areaSallaryDataComparation" style="width:50%;">
    <br>
    <label for="genderSallaryDataComparation">Escolha o Genero a ser comparado:</label>
    <input id="genderSallaryDataComparation">
    <br>
    <label for="classSallaryDataComparation">Escolha a classe social:</label>
    <input id="classSallaryDataComparation">
    <br>
    <label for="qtySallaryDataComparation">Escolha o numero de elementos máximo:</label>
    <input id="qtySallaryDataComparation" name="qtySallaryDataComparation" type="number" value="10" min="1" max="100">
    </form>
    <div class="alert" id="error-message" style="display:none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>O campo deve conter pelo menos 1 valor!</strong>
    </div>
    <div id="divSallaryDataComparation">
        <div id="no-data-sallary-vs-data-comparation">
            <h2>Informação insuficiente para gerar o gráfico</h2>
        </div>
        <canvas id="salarioXdadosCompare" ng-if="data != 0"></canvas>
        <br>
        <br>
    </div>
</div>



<!-- Create Request based on the parameters -->
-<script>
    qtySallaryDataComparation.oninput = function () {
        if (this.value < 0) {
            this.value = 0
        } else if (this.value > 100)
        {
            this.value = 100
        }
    }
    function getValuesfromField(divField)
    {
        var value = $(divField).select2('data');
        all_texts = [];
        for(var i = 0; i < value.length; i++)
        {
            text = value[i].text;
            all_texts.push(text);
        }
        return JSON.stringify(all_texts);
    }
	function changeValuesinRequestSallaryDataComparation(request)
	{
		var final_request = {};
		$.each($('#myform').serializeArray(), function(_, kv) {
		  final_request[kv.name] = kv.value;
		});
		final_request["statesSallaryDataComparation"] = getValuesfromField("#statesSallaryDataComparation")
		final_request["statesUniSallaryDataComparation"] = getValuesfromField("#statesUniSallaryDataComparation")
		final_request["universitySallaryDataComparation"] = getValuesfromField("#universitySallaryDataComparation")
		final_request["companySallaryDataComparation"] = getValuesfromField("#companySallaryDataComparation")
		final_request["courseSallaryDataComparation"] = getValuesfromField("#courseSallaryDataComparation")
		final_request["areaSallaryDataComparation"] = getValuesfromField("#areaSallaryDataComparation")
		final_request["genderSallaryDataComparation"] = getValuesfromField("#genderSallaryDataComparation")
		final_request["classSallaryDataComparation"] = getValuesfromField("#classSallaryDataComparation")

		final_request["graph_name"] = "salarioXdadosCompare"
		return final_request
	}

</script>

<!-- Funções jQuery de atualização e afins -->
<script>
const tryRemoveValue = function(e)
{
 var list_values = $(this).val().split(',')
 if(list_values.length === 1) {
   $("#error-message").fadeTo(2000, 500).slideUp(500, function() {
      $("#error-message").slideUp(500);
    });
    e.preventDefault();
        }
}

const handlerSallaryDataComparation = function(e) {
   var formData = $('#myform').serializeArray()
   e.preventDefault(); // avoid to execute the actual submit of the form.
   formData = changeValuesinRequestSallaryDataComparation(formData)
   $.ajax({
        url: "/update_graph/",
        data: formData,
        cache: false,
        dataType: 'json',
        type: 'POST',
        success: function (data, status) {
        		sallaryDataComparation = data.salarioXdadosCompare
				updateSallaryDataComparation(sallaryDataComparation)

                initValuesSallaryDataCompare("Classes", "Class", "#classSallaryDataComparation", true)

				initValuesSallaryDataCompare("Genders", "Gender", "#genderSallaryDataComparation", true)

				initValuesSallaryDataCompare("UniversityStates", "UniversityState", "#statesUniSallaryDataComparation", true)

				initValuesSallaryDataCompare("Universities", "University", "#universitySallaryDataComparation", true)

				initValuesSallaryDataCompare("Courses", "Course", "#courseSallaryDataComparation", true)

				initValuesSallaryDataCompare("CompanyStates", "CompanyState", "#statesSallaryDataComparation", true)

				initValuesSallaryDataCompare("Companies", "Company", "#companySallaryDataComparation", true)

				initValuesSallaryDataCompare("Areas", "Area", "#areaSallaryDataComparation", true)

                document.getElementById("qtySallaryDataComparation").value = sallaryDataComparation["Total"];
				document.getElementById("entitySallaryDataComparation").value = sallaryDataComparation["Entity"];
        }
    });
}

var select = document.getElementById('myform');
select.addEventListener('change', handlerSallaryDataComparation);

$('#genderSallaryDataComparation').on('change', handlerSallaryDataComparation)
$('#statesUniSallaryDataComparation').on('change', handlerSallaryDataComparation)
$('#universitySallaryDataComparation').on('change', handlerSallaryDataComparation)
$('#courseSallaryDataComparation').on('change', handlerSallaryDataComparation)
$('#statesSallaryDataComparation').on('change', handlerSallaryDataComparation)
$('#companySallaryDataComparation').on('change', handlerSallaryDataComparation)
$('#areaSallaryDataComparation').on('change', handlerSallaryDataComparation)
$('#classSallaryDataComparation').on('change', handlerSallaryDataComparation)

$('#genderSallaryDataComparation').on('select2-removing', tryRemoveValue)
$('#statesUniSallaryDataComparation').on('select2-removing', tryRemoveValue)
$('#universitySallaryDataComparation').on('select2-removing', tryRemoveValue)
$('#courseSallaryDataComparation').on('select2-removing', tryRemoveValue)
$('#statesSallaryDataComparation').on('select2-removing', tryRemoveValue)
$('#companySallaryDataComparation').on('select2-removing', tryRemoveValue)
$('#areaSallaryDataComparation').on('select2-removing', tryRemoveValue)
$('#classSallaryDataComparation').on('select2-removing', tryRemoveValue)
</script>

<!-- Método que realiza a atualização do gráfico -->
<script>
function updateSallaryDataComparation(object_all)
{
	if (Object.keys(object_all).length == 0 || Object.keys(object_all["Data"]).length == 0)
	{
	    document.getElementById('no-data-sallary-vs-data-comparation').style.display = 'block';
        document.getElementById('salarioXdadosCompare').style.display = 'none'
    }
    else
    {
        document.getElementById('no-data-sallary-vs-data-comparation').style.display = 'none';
        document.getElementById('salarioXdadosCompare').style.display = 'block'
        var colorArray = [ 'blue'];
        chartSallaryDataComparation.data.labels = object_all["Entities"]
        chartSallaryDataComparation.data.datasets[0].backgroundColor = colorArray[0]
        chartSallaryDataComparation.data.datasets[0].data = object_all["Data"]
        chartSallaryDataComparation.options.scales.yAxes[0].ticks.max = object_all["Data"][0]
        chartSallaryDataComparation.options.title.text = ['Comparativo de Media Salarial por '+object_all["Entity"]+''
            , 'Media Salarial Geral : '+sumAllSallarys(object_all["Data"])+'']

        chartSallaryDataComparation.update();
	}
}
</script>

<!-- Função que cria o gráfico inicialmente -->
<script>
function sumAllSallarys(data)
{
    sum = 0
    for( var i = 0 ; i < data.length; i++)
    {
       sum += data[i]
    }
    sum = sum / data.length;

    return sum;
}

function createGraphSallaryDataComparation(object_all)
{
var colorArray = [ 'blue'];

chartSallaryDataComparation = new Chart(document.getElementById("salarioXdadosCompare"), {
        type: 'bar',
        data: {
          labels: object_all["Entities"],
          datasets: [{
                label : "Media Salarial",
                backgroundColor: colorArray[0],
                data: object_all["Data"]
            }]
        },
        options: {
        scales: {
        xAxes: [{
          ticks: {
            callback: function(label) {
              if (label.length > 20)
              {
              return label.substring(0, 20) + "...";
              }
              else {
              return label;
              }
            }
          }
        }
        ],
        yAxes: [{
            ticks: {
                min: 0,
                max: object_all["Data"][0],
                stepSize: 1000
            }
        }]
        },
        title: {
            display: true,
            text: ['Comparativo de Media Salarial por '+object_all["Entity"]+''
            , 'Media Salarial Geral : '+sumAllSallarys(object_all["Data"])+'']
         },
        }
        });
}
</script>

<!-- Função do método init -->
<script>
function initSallaryDataComparation(object_all) {

    if (Object.keys(object_all).length == 0)
    {
        document.getElementById("div_sallary_vs_data").innerHTML = "Sem informações suficientes para gerar os gráficos!";
    }
    else
    {
    if (Object.keys(object_all["Data"]).length == 0)
	{
		document.getElementById('no-data-sallary-vs-data-comparation').style.display = 'block';
        document.getElementById('salarioXdadosCompare').style.display = 'none'
	}

    initValuesSallaryDataCompare("Classes", "Class", "#classSallaryDataComparation", true)
    initValuesSallaryDataCompare("Genders", "Gender", "#genderSallaryDataComparation", true)
    initValuesSallaryDataCompare("UniversityStates", "UniversityState", "#statesUniSallaryDataComparation", true)
    initValuesSallaryDataCompare("Universities", "University", "#universitySallaryDataComparation", true)
    initValuesSallaryDataCompare("Courses", "Course", "#courseSallaryDataComparation", true)
    initValuesSallaryDataCompare("CompanyStates", "CompanyState", "#statesSallaryDataComparation", true)
    initValuesSallaryDataCompare("Companies", "Company", "#companySallaryDataComparation", true)
    initValuesSallaryDataCompare("Areas", "Area", "#areaSallaryDataComparation", true)

    createGraphSallaryDataComparation(object_all)
    }
}
</script>

<script>

function initValuesSallaryDataCompare(all_fields, field, divNameWithTag, hasAllFlag) {
	var testData = [];

    if (hasAllFlag)
    {
	testData.push(
		{
		id : 0,
		text: "Todos"
		});
    }
	// Instead of doing this use the AJAX call to poulate the data.
	for (var i=0; i < sallaryDataComparation[all_fields]["Item"].length; i++) {
		testData.push(
		{
		id : i+1,
		text: sallaryDataComparation[all_fields]["Item"][i]
		});
	}


    if (sallaryDataComparation[all_fields]["SameState"] == "False")
    {
        $(divNameWithTag).select2({
          data: testData,
          multiple: true,
          closeOnSelect: false,
          allowClear: true,
          query: function(q) {
          var pageSize,
            results,
            that = this;
          pageSize = 20; // or whatever pagesize
          results = [];
          if (q.term && q.term !== '') {
            // HEADS UP; for the _.filter function i use underscore (actually lo-dash) here
            results = _.filter(that.data, function(e) {
              return e.text.toUpperCase().indexOf(q.term.toUpperCase()) >= 0;
            });
          } else if (q.term === '') {
            results = that.data;
          }
          q.callback({
            results: results.slice((q.page - 1) * pageSize, q.page * pageSize),
            more: results.length >= q.page * pageSize,
          });
        }
        })

        var data = getMultipleValues(testData, sallaryDataComparation[field])

        $(divNameWithTag).select2("data", data);
    }
}

function getMultipleValues(testData, field)
{
    all_values = []

    for(var i = 0; i < field.length; i++)
    {
        var data = testData.find(o => o.text === field[i])
        if (data != undefined)
        {
            all_values.push(data)
        }
    }
    return all_values
}
</script>

<!-- Execucao inicial do método init -->
<script>
    document.getElementById('no-data-sallary-vs-data-comparation').style.display = 'none';
    var chartSallaryDataComparation;
    var sallaryDataComparation = {{ salarioXdadosCompare | safe }}
    initSallaryDataComparation(sallaryDataComparation);
</script>

