{%  extends 'metrics/main_dashboard.html' %}
{% load static %}
{% block content %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#home" class="nav-link active" role="tab" data-toggle="tab">Home</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#profile" class="nav-link" role="tab" data-toggle="tab">Home</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#about" class="nav-link" role="tab" data-toggle="tab">Home</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#home" class="nav-link" role="tab" data-toggle="tab">Home</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel" ></div>
      <div class="tab-pane" id="profile" role="tabpanel" >...</div>
      <div class="tab-pane" id="about" role="tabpanel" >...</div>
    </div>
</div>
{% endblock %}