
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="col-md-12">
	<canvas id="generoXuniversidade"></canvas>
</div>

<!-- Gráficos de Genero X Universidade  -->
<script>

var colorArray = [ 'red' , 'blue' , 'green'];

var i = 0;
datasets = [];
{% for item in generoXuniversidade.Data %}
	var dataset = {
		label : "{{ item.0 | safe }}",
		backgroundColor: colorArray[i],
		data: {{ item.1 | safe }}
	};
	datasets.push(dataset);
	i += 1;
{%endfor%}

    new Chart(document.getElementById("generoXuniversidade"), {
    type: 'bar',
    data: {
      labels: {{ generoXuniversidade.Instituicoes | safe}},
      datasets: datasets
    },
    options: {
    plugins: {
      title: {
        display: true,
        text: 'Chart.js Bar Chart - Stacked'
      },
     },
      responsive: true,
      scales: {
      x: {
        stacked: true,
      },
      y: {
        stacked: true
      }
    }
    }
	});

</script>