<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

<div class="col-md-12">
	<div id="areaXcurso"></div>
</div>


<!-- Gráficos de Area X Curso  -->
<script>

var colorArray = [
    '#dd0453', '#fdfd05', '#66E64D', '#0660e7', '#9900B3',
     '#d07201', '#14b300','#06d2a6','#f8061a','#c45850',
	'#66664D', '#d6d6d7', '#76008f', '#4DB3FF', '#1AB399',
	'#ec92d1', '#33991A', '#ba8383', '#B3B31A', '#00E680',
	'#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
	'#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];

var i = 0;
{% for item in areaXcurso %}
	var canvas = document.createElement('canvas');

	canvas.id = "areaCourse" + i.toString();

	var body = document.getElementById("areaXcurso");
	body.appendChild(canvas);
    new Chart(document.getElementById(canvas.id), {
    type: 'bar',
    data: {
      labels: {{ item.Areas | safe}},
      datasets: [{
		label : "{{ item.Label|safe }}",
        backgroundColor: colorArray,
        data: {{ item.Valores|safe }}
	}]
    },
    options: {
      title: {
        display: true,
        text: 'Area X Curso de ' + '{{item.Label|safe }}'
      }
    }
	});
	i += 1;
{%endfor%}

</script>