{% load static %}

<style>
  .navbar img
  {
    width: 150px;
  }
  .navbar-nav
  {
    margin: auto;
  }
  .nav-item
  {
    text-decoration: underline;
    margin-right: 10px;
    margin-left:10px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="{% static 'images/metrics.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/graphs_genero/">Gráficos de Genero</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/graphs_social_class/">Gráficos de Classe Social</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/graphs_sallary/">Gráficos de Salario</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/graphs_age/">Gráficos de Idade</a>
      </li>
    </ul>
  </div>

  <span ><a  class="hello-msg" href="{% url 'logout' %}"> Sair</a></span>

</nav>