{% load static %}

<style>
  .navbar img
  {
    width: 150px;
  }
  .navbar-nav
  {
    margin: auto;
  }
  .nav-item
  {
    text-decoration: underline;
    margin-right: 10px;
    margin-left:10px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="{% static 'images/metrics.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/graphs_profissionais_vs_universidade/">Perfil dos Profissionais X Universidade</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/graphs_profissionais_vs_empresa/">Perfil dos Profissionais X Empresa</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/graphs_universidade_vs_empresa/">Universidade X Empresa</a>
      </li>
    </ul>
  </div>

</nav>